
*.pyc
.ipynb_checkpoints/liar_eda-checkpoint.ipynb
*.stanza
data/glove.840B.300d.txt
data/glovetmp.txt
*.lock
*.dirlock
data/googlefactcheck.json
data/googlefactcheck.key
data/googlefactcheck_program.json
data/token.pickle
.ipynb_checkpoints/googlefactcheck-checkpoint.ipynb
~$Which news is fake.pptx
data/politifact.pickle
